.section5 {
  box-sizing: border-box;
  background-color: #FEF4AD;
}

.candle {
  border: 5px solid #673c63;
  width: 110px;
  height: 260px;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}
.candle:before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 10px;
  right: 0;
  border-right: 5px solid #ABBAFF;
}
.candle:after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 20px;
  top: -20px;
  left: 40%;
  border-right: 5px solid #673c63;
}
.candle.small {
  height: 180px;
  left: 100px;
}
.candle .mouth {
  border-radius: 100%;
  width: 10px;
  background-color: #673c63;
  height: 10px;
  position: absolute;
  top: 50px;
  left: 40%;
}
.candle .eye {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #673c63;
  position: absolute;
  top: 20px;
}
.candle .eye:nth-child(1) {
  left: 20px;
}
.candle .eye:nth-child(2) {
  right: 20px;
}
.candle.small .eye {
  top: 50px;
}

#wrapper {
  width: 500px;
  height: 400px;
  border-bottom: 5px solid #673c63;
  margin: 0 auto;
  position: relative;
}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-45deg) scale(1.5, 1.5);
  left: 40px;
  top: -50px;
  width: 20px;
  height: 30px;
  background: #FF9800;
  box-shadow: 0px 0px 9px 4px white;
  z-index: 2;
}

.flame-halo {
  top: 110px;
  left: 70px;
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  border: 10px solid white;
  width: 170px;
  height: 170px;
  display: none;
}
