.section3 { background: #E9E5E2 ; }

#progress { 
  list-style: none;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  width: 296px;
  margin: 50px auto 0;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
}

#progress li { 
  margin-bottom:50px; 
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
  height:20px; 
  border-radius:10px; 
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
}

#progress li h3 { 
  position:relative; 
  top:-25px;
}

.bar { 
  height:18px; 
  margin:1px 2px;  
  position:absolute;
  border-radius:10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;  
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;   
}

.stage1 {
  width: 0; 
  background-color: #f674a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(top, #f674a4, #e06995);
}

.stage2 {
  width: 0;
  background-color: #f0bb4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.stage3 {
  width: 0;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.stage4 {
  width: 0;
  background-color: #66b3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(top, #66b3cc, #5da3ba)  
}